pip install numpy pandas matplotlib statsmodels streamlit seaborn yahooquery requests json datetime dotenv

numpy,
pandas,
matplotlib,
statsmodels,
streamlit,
seaborn,
yahooquery,
requests,
json,
datetime,
dotenv





